body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#kurs {
    text-align: center;
}

#Frage {
    text-align: center;
}

.tasks {
    text-align: center;
    background-color: rgb(65, 179, 255);
    width: 250px;
    height: 45px;
    margin: auto;
    border-style: solid;
    padding-bottom: 30px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    width: 250px;
    margin: auto;
}

#textfrage {
    background-color: rgb(216, 216, 216);
    margin: auto;
    width: 300px;
    height: 200px;
    display: block;
}

#submit {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}