body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.question-list {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
}

.question-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.box {
    width: 28px;
    height: 28px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}
