* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button-group button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #5c6cf0;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.button-group button.active {
    background-color: red;
}

#submitBtn {
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

textarea {
    width: 100%;
    max-width: 360px;
    height: 120px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
}

